html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* El contenedor principal debe tener un min-height del 100% para ocupar toda la pantalla */
.content {
    min-height: calc(100vh - 50px); /* Ajusta 50px a la altura de tu footer */
    /* O simplemente usa `min-height: 100vh;` y ajusta el footer con margenes negativos */
}

/* El footer debe estar abajo */
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: black;
}